*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/*_____________________________________________*/
/*Logo del navbar*/
.imgLogo{
  width: 90px;
  background: none;
  z-index:0;
}

.textLogo{
  margin-left: 10px;
}

/* parte del hamburguer*/
#open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
#open span:nth-child(2){
  opacity:0;
}
#open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}

/*NavLink (menu cuando se hace click en hamburger)*/
.Mobile{ 
  border-bottom: 5px solid #000;
}

/*_____________________________________________*/

.Footer{
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 1;
}

.FooterText{
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 1;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: #fff;
  text-decoration: overline #000;
}

.Footer2{
  width: 92%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  font-size: 40px;
  color: aliceblue;

}
.Footer2 div{
  width: 100%;
  position: static;
  text-align: center;
}

path{
  height: 60%;
}
/*para cambiar el color del input type checkbox y otros*/
input{
  accent-color: rgb(34,73,87);
}

/*_____________________________________________*/