*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

body{
  position: relative;
  min-height: 100vh;
}

@media screen and (max-height:708px) {
  body{
    padding-bottom: 4em;
  }
}

/*_____________________________________________*/
/*Logo del navbar*/
.imgLogo{
  width: 80px;
  background: none;
  z-index:0;
  object-fit: cover;
}

.textLogo{
  margin-left: 10px;
}

/* parte del hamburguer*/
#open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
#open span:nth-child(2){
  opacity:0;
}
#open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}

/*NavLink (menu cuando se hace click en hamburger)*/
.Mobile{ 
  border-bottom: 5px solid #000;
}

/*_____________________________________________*/



.SvgFooter{
  position: absolute;
  left:0;
  bottom: 0;
}

.FooterText{
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 1;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: #fff;
  text-decoration: overline #000;
}
.Footer{
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 1;
}

.Footer2{
  width: 100%;

  position: absolute;
  left: 0%;
  bottom: 0%;
  font-size: 40px;
  background-color: #06283D;
  color: aliceblue;
}
.Footer2 div{
  width: 100%;
  position: static;
  text-align: center;
}

path{
  height: 60%;
}
/*para cambiar el color del input type checkbox y otros*/
input{
  accent-color: rgb(34,73,87);
}

/*_____________________________________________*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*para cerrar el modal*/
.close {
  width: 32px;
  height: 40px;
  opacity: 1;
}
/*
.close:hover {
  opacity: 1;
}*/
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 3px;
  top: 10px;
  background-color: rgb(255, 250, 250);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}